@import "font-awesome";

$primary-font: 'Gloria Hallelujah', sans-serif;  
$secondary-font: 'Dosis', sans-serif;  
$tertiary-font: 'Neucha', sans-serif;
$main-blue: #337ab7;
$footer-height: 45px;

.navbar-default {
  font-family: $secondary-font;
  background-color: white;
}

.navbar-brand {
  font-family: $primary-font;
}

body {
  background: url('https://wallpaperscraft.com/image/background_black_white_wooden_surface_board_18564_2048x2048.jpg')fixed no-repeat;
  font-style: $tertiary-font;
}

.navbar-header .navbar-brand {
  font-weight: 100; 
  font-size: 30px;
  letter-spacing: 2px;
  color: $main-blue;
}

.panel {
  background-color: rgba(255,255,255,8);
}

h1 {
  color:white;
}

.about {
  color:white;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
.footer {
  height: $footer-height;
  color: white;
}